<main class="content">
  <div class="card">
    <h2>{{ idCardEdit ? 'Editar Cartão' : 'Novo Cartão' }}</h2>

    <form [formGroup]="form" (ngSubmit)="handleSubmit()" class="form">
      <div class="form-group">
        <label for="name">Nome do cartão: </label>
        <input formControlName="name" type="text" id="name" name="name" placeholder="Meu cartão" />
        @if (form.controls.name.hasError('required') && form.controls.name.touched) {
          <span class="form-hint form-hint-error">
            O nome do cartão é obrigatório
          </span>
        }

        @if (form.controls.name.hasError('apiError') && form.controls.name.touched) {
          <span class="form-hint form-hint-error">
            {{ form.get('name')?.errors?.['apiError'] }}
          </span>
        }
      </div>
      <div class="form-group">
        <label for="name">Bandeira: </label>
        <select formControlName="brand">
          <option value="" >Selecione...</option>
          <option value="AMERICAN_EXPRESS">American Express</option>
          <option value="DINERS">Dinners</option>
          <option value="ELO">Elo</option>
          <option value="HIPERCARD">Hipercard</option>
          <option value="MASTERCARD">Mastercard</option>
          <option value="VISA">Visa</option>
        </select>

        @if (form.controls.brand.hasError('required') && form.controls.brand.touched) {
          <span class="form-hint form-hint-error">
            O nome do cartão é obrigatório
          </span>
        }

        @if (form.controls.brand.hasError('apiError') && form.controls.brand.touched) {
          <span class="form-hint form-hint-error">
            {{ form.get('brand')?.errors?.['apiError'] }}
          </span>
        }
      </div>

      <div class="form-actions">
        <button type="submit" class="btn-primary">
          {{ idCardEdit ? 'Atualizar' : 'Salvar' }}
        </button>
        <button
          type="button"
          class="btn-secondary"
          [routerLink]="['/cards-listing']"
        >
          Cancelar
        </button>
      </div>
    </form>
  </div>
</main>
