<main class="content">
  <div class="card-full">
    <h2>{{ idCardEdit ? 'Editar Cartão' : 'Novo Cartão' }}</h2>

    <form [formGroup]="form" (ngSubmit)="handleSubmit()" class="form">
      <div class="form-group">
        <label for="name">Nome do cartão: </label>
        <input formControlName="name" type="text" id="name" name="name" placeholder="Meu cartão" />
        @if (form.controls.name.hasError('required') && form.controls.name.touched) {
          <span class="form-hint form-hint-error">
            {{ THE_CARD_NAME_IS_REQUIRED }}
          </span>
        }

        @if (form.controls.name.hasError('apiError') && form.controls.name.touched) {
          <span class="form-hint form-hint-error">
            {{ form.get('name')?.errors?.['apiError'] }}
          </span>
        }
      </div>
      <div class="form-group">
        <label for="name">Bandeira: </label>
        <select id="brand" formControlName="brand">
          <option value="" >Selecione...</option>
          @for (b of brandList; track b.value) {
            <option [value]="b.value">{{ b.value }}</option>
          }
        </select>

        @if (form.controls.brand.hasError('required') && form.controls.brand.touched) {
          <span class="form-hint form-hint-error">
            {{ THE_CARD_NETWORK_IS_MANDATORY }}
          </span>
        }

        @if (form.controls.brand.hasError('apiError') && form.controls.brand.touched) {
          <span class="form-hint form-hint-error">
            {{ form.get('brand')?.errors?.['apiError'] }}
          </span>
        }
      </div>

      <div class="form-actions">
        <button type="submit" class="btn-primary">
          {{ idCardEdit ? UPDATE : SAVE }}
        </button>
        <button
          type="button"
          class="btn-secondary"
          [routerLink]="['/cards-listing']"
        >
          {{ CANCEL }}
        </button>
      </div>
    </form>
  </div>
</main>
