<main class="content">
  <div class="card-full">
    @if(list$ | async; as list) {
      <table class="datatable">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Bandeira</th>
            <th>Status</th>
            <th class="text-center">Ações</th>
          </tr>
        </thead>

        <tbody>
          @for(card of list.content; track card.id) {
            <tr>
              <td> {{ card.name}} </td>
              <td> {{ card.brand}} </td>
              <td>
                <span
                  class="badge"
                  [ngClass]="card.active ? 'badge-success' : 'badge-warning'"
                >
                  {{ card.active ? 'Ativo' : 'Inativo' }}
                </span>
              </td>
              <td class="text-center">
                <button
                  class="icon-btn"
                  title="Editar"
                  (click)="prepareEdition(card.id)"
                >
                  <i class="fa-solid fa-pen"></i>
                </button>
                <button
                  class="icon-btn"
                  (click)="updateStatus(card.id)"
                  [ngClass]="card.active ? 'danger' : 'success'"
                  [attr.title]="card.active ? 'Desativar' : 'Ativar'"
                >
                  <i class="fa-solid" [ngClass]="card.active ? 'fa-ban' : 'fa-check' " ></i>
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>

      <!-- Paginação -->
       <div class="table-footer">
        <span>
          Mostrando {{ initialRecord(list) }} - {{ finalRecord(list) }}
          de {{ list.totalElements }} Registro
        </span>
        <div class="pagination">
          <button
            class="page-btn"
            [class.disabled]="list.first"
            (click)="navigationPrevious(list);"
          >
            <i class="fa-solid fa-chevron-left"></i>
          </button>

          @for (pages of pages(list.totalPages); track pages) {
            <button
              class="page-btn"
              [class.active]="pages === list.number"
              (click)="navigation(pages)"
            >
              {{ pages + 1 }}
            </button>
          }

          <button
            class="page-btn"
            [class.disabled]="list.last"
            (click)="navigationNext(list);"
          >
            <i class="fa-solid fa-chevron-right"></i>
          </button>
        </div>
       </div>
    }
  </div>
</main>
