<div class="app-container">
   <!-- Sidebar -->
  <aside class="sidebar">
    <div class="sidebar-logo">
      <i class="fa-solid fa-wallet"></i>
      <span>Planeja</span>
    </div>

    <nav class="sidebar-menu">
      <a class="menu-item active" [routerLink]="['/']">
        <i class="fa-solid fa-chart-line"></i>
        <span>Dashboard</span>
      </a>
      <a class="menu-item" [routerLink]="['/cards-listing']">
        <i class="fa-solid fa-credit-card"></i>
        <span>Cartões de crédito</span>
      </a>
    </nav>
  </aside>

  <!-- Conteúdo principal -->
  <div class="main-content">
    <!-- Header -->
    <header class="header">
      <h1>Cadastro de Cartões</h1>
      <div class="user-area">
        <span class="user-name">Olá, Usuário</span>
        <i class="fa-solid fa-circle-user"></i>
      </div>
    </header>
    <router-outlet></router-outlet>
  </div>
</div>
